<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<h2>내용보기</h2>

<div id="app" class="container">
	<table class="table table-striped">
		<col width="200"><col width="500">		
		<tr>
			<td>작성자</td>
			<td id="id"></td>
		</tr>
		<tr>
			<td>제목</td>
			<td id="title"></td>
		</tr>
		<tr>
			<td>작성일</td>
			<td id="wdate"></td>
		</tr>
		<tr>
			<td>조회수</td>
			<td id="readcount"></td>
		</tr>		
		<tr>
			<td>내용</td>
			<td>
				<textarea class="form-control" rows="20" id="contents" readonly="readonly"></textarea>
			</td>
		</tr>
	</table>
	
	<button type="button" id="bbslist">글목록</button>
	<button type="button" id="bbsanswer">답글</button>
	
	<button type="button" id="bbsupdate">글수정</button>	
	<button type="button" id="bbsdelete">글삭제</button>
</div>

<script type="text/javascript">

var seq = params.seq;
var page = params.page;

$.ajax({
	url:'http://localhost:3000/bbsdetail',
	type:'get',
	data:{ 'seq':seq },
	success:function(data){
		$("#id").text( data.id );
		$("#title").text( data.title );
		$("#wdate").text( data.wdate );
		$("#readcount").text( data.readcount );
		$("#contents").val( data.content );	// textarea
		
		// login한 id와 다를 때는 수정과 삭제를 할 수 없도록 처리  
		let login = JSON.parse(sessionStorage.getItem("login"));
		if(data.id != login.id){
			$("#updatebbs").hide(); // 나타내지 말아라
			$("#deletebbs").hide();
		}		
	},
	error:function(){
		alert('error');
	}		
});

$("#bbslist").click(function() {
	movePage("bbs/bbslist.html");
});

$("#bbsanswer").click(function() {
	if(user.auth==0){
		movePage("bbs/bbsanswer.html&seq=" + seq);
	}
	else{
		alert("운영자가 아닙니다.");
	}
});

$("#bbsupdate").click(function() {
	if(user.id==$("#id").text()){
		movePage("bbs/bbsupdate.html&seq=" + seq);
	}
	else{
		alert("작성자가 아닙니다.");
	}
});

$("#bbsdelete").click(function() {
	if(user.id==$("#id").text()){
		$.ajax({
			url:"http://localhost:3000/bbsdelete",
			type:"get",
			data:{ 'seq':seq },
			success:function(resp){
				if(resp == "YES"){
					alert('글이 삭제되었습니다');
				}else{
					alert('답글이 삭제되지 않았습니다');
				}			
				movePage("bbs/bbslist.html");
			},
			error:function(){
				alert('error');
			}
		});
	}
	else{
		alert("작성자가 아닙니다.");
	}
	
});



</script>

</body>
</html>




