<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/chatbox.css">

<!-- 챗봇 상단 제목 폰트 2개 -->
<style type="text/css">
@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 버튼 테두리 안보이게 하는 css */
#button:focus,
#button:active {
  outline: none;
  box-shadow: none;
}
</style>


<!-- 버튼 이동하게 만드는 div -> id값 chatbtn으로 만든 스크립트 아래에서 확인* -->
<div id="chatbtn" style="display:scroll;position:fixed;bottom:50px;right:10px;">
<!-- 챗봇을 실행하는 이미지 버튼 -->
<button id="button" class="btn" data-target="#layerpop" data-toggle="modal" data-backdrop="static" data-keyboard="false"><img class="btn-img" src="./image/chat1.png" title="이동하려면 챗봇을 열고 닫아주세요!"></button><br/>
<!-- <input type="image" src="./image/chat1.png" data-target="#layerpop" data-toggle="modal" data-backdrop="static" data-keyboard="false"  border="0" id="modalbtn" title="이동하려면 챗봇을 열고 닫아주세요!"> --> 
</div>
<div class="modal fade" id="layerpop">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 12px; background-color: #6F6F6F">
      <!-- body -->
      <div class="modal-body">
            <div id="wrapper">
                <button type="button" class="close" data-dismiss="modal" id="closebtn" style="margin-right: 10px;"><p title="채팅창 닫기" style="font-size: 30px; font-weight: 900">x</p></button>
    <div id="menu">
        <h4 class="modal-title" style="font-family: 'twaysky'; font-size: 25px;">Multi Cinema</h4>
    </div>
    
    <div id="chatbox">
    
        <img src="./image/user.png" width="35px 35px;">
        <span style="font-weight: 600;">상담원</span><br>
        <div class="botmsg" style="margin-left: 35px;" id="botstart"></div><br>
        
        
    </div>
    
    <div id="myform">
        <input type="text" id="usermsg" placeholder="내용을 입력해주세요.">
        <button type="button" id="submitmsg" value="send"><img class="btn-img" src="./image/send.png" title="메세지 전송" width="35px 35px;"></button>
    </div>

</div>

<script type="text/javascript">

$("#botstart").append("<span>안녕하세요 " + id + "님!</span><br>");
$("#botstart").append("<span>무엇을 도와드릴까요?!</span>");

$(document).ready(function() {
	
	$("#chatbox").stop().animate({ scrollTop:$("#chatbox")[0].scrollHeight }, 2000);
	
	$("#submitmsg").click(function() {
		
		if($("#usermsg").val() != ""){
			
			$("#chatbox").append("<div align='right'><span style='font-weight: 600; margin-right:5px'>" + id + "님</span><img src='./image/user.png' width='35px 35px;'></div><div align='right' style='margin-right: 35px;'><div class='usermsg'>" + $("#usermsg").val() + "</div></div><br>");
			
			$.ajax({
				url:"http://localhost:3000/Chatbot",
				type:"post",
				data:{msg:$("#usermsg").val()},
				success:function(resp){
				//	alert("success");
				//	alert(resp);
				
				    respProc(resp);
				
				},
				error:function(){
					alert("error");
				}	
			});
			
			
			$("#chatbox").stop().animate({ scrollTop:$("#chatbox")[0].scrollHeight }, 2000);
		}
	});
	
});

/* ajax(비동기통신)으로 받아온 resp값(봇 메세지)를 통한 챗봇에 봇 메세지 추가 */
function respProc(resp){
	
	let json = JSON.parse(resp);
	
	if(JSON.stringify(json.bubbles[0].type).replaceAll("\"","") == "text"){
    	$("#chatbox").append("<img src='./image/user.png' width='35px 35px;'><span style='font-weight: 600;'>상담원</span><br><div class='botmsg' style='margin-left: 35px;'>" + JSON.stringify(json.bubbles[0]["data"].description).replaceAll("\"","") + "</div><br>");
    }else if(JSON.stringify(json.bubbles[0]["data"]["cover"].type).replaceAll("\"","") == "text"){
    //	$("#chatbox").append("<div align='right'><div class='botmsg'>" + JSON.stringify(json.bubbles[0]["data"]["cover"]["data"].description).replaceAll("\"","") + "</div></div><br>");
    	$("#chatbox").append("<img src='./image/user.png' width='35px 35px;'><span style='font-weight: 600;'>상담원</span><br><div class='botmsg' style='margin-left: 35px;'>" + JSON.stringify(json.bubbles[0]["data"]["cover"]["data"].description).replaceAll("\"","") +"<br>" + "<a href=" + JSON.stringify(json.bubbles[0]["data"].contentTable[0][0]["data"]["data"]["action"]["data"].url) + "target='_self'>" + JSON.stringify(json.bubbles[0]["data"].contentTable[0][0]["data"].title).replaceAll("\"","") + "</a></div><br>");
    }else if(JSON.stringify(json.bubbles[0]["data"]["cover"].type).replaceAll("\"","") == "image"){
    	$("#chatbox").append("<img src='./image/user.png' width='35px 35px;'><span style='font-weight: 600;'>상담원</span><br><div class='botmsg' style='margin-left: 35px;'>" + JSON.stringify(json.bubbles[0]["data"]["cover"].title).replaceAll("\"","") + "<br><br>" + "<img src=" + JSON.stringify(json.bubbles[0]["data"]["cover"]["data"].imageUrl) + "style='width:200px; height:200px;'><br><br>" + JSON.stringify(json.bubbles[0]["data"]["cover"]["data"].description).replaceAll("\"","") + "</div><br>");
    //	$("#chatbox").append("<div align='right'><div class='botmsg'>" + JSON.stringify(json.bubbles[0]["data"]["cover"].title) + "</div></div><br>");
    }
}

</script>

<script>

/* 챗봇 버튼 이동을 가능하게 만드는 함수 */
function movebutton() {
	chatbtn.onmousedown = function(event) {
		   
		  let shiftX = event.clientX - button.getBoundingClientRect().left;
		  let shiftY = event.clientY - button.getBoundingClientRect().top;

		  chatbtn.style.position = 'absolute';
		  chatbtn.style.zIndex = 1000;
		  document.body.append(chatbtn);

		  moveAt(event.pageX, event.pageY);

		  // 초기 이동을 고려한 좌표 (pageX, pageY)에서
		  // 버튼을 이동합니다.
		  function moveAt(pageX, pageY) {
			  chatbtn.style.left = pageX - shiftX + 'px';
			  chatbtn.style.top = pageY - shiftY + 'px';
		  }

		  function onMouseMove(event) {
		    moveAt(event.pageX, event.pageY);
		  }

		  // mousemove로 버튼을 움직입니다.
		  document.addEventListener('mousemove', onMouseMove);

		  // 버튼을 드롭하고, 불필요한 핸들러를 제거합니다.
		  chatbtn.onmouseup = function() {
		    document.removeEventListener('mousemove', onMouseMove);
		    chatbtn.onmouseup = null;
		    chatbtn.onmousedown = null;
		    
		  };
		  

		};
		

		chatbtn.ondragstart = function() {
		  return false;
		};
}
        /* 챗봇 버튼 이동 함수 실행 */
        movebutton();
        
        /* 챗봇 버튼 클릭시 이동 함수 null값 전환 후 챗봇 창 open */
		$('#modalbtn').click(function(e){
			chatbtn.onmousedown = null;
			e.preventDefault();
			$('#layerpop').modal("show");
		});
		
        /* x버튼 클릭 후 다시 챗봇 버튼 이동 함수 실행 */
		$('#closebtn').click(function(){
			movebutton();
		});
		
</script>

   </div>
  </div>
 </div> 
</div>




