<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<title>Home</title>
	<meta charset="UTF-8">

</head>
<body class="animsition">

	<!-- Slide1 -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url(image/1.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Welcome to
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							MultiCinema
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
							<a href="main.html?page=movie/moviedetail.html&seq=1" class="btn1 flex-c-m size1 txt3 trans-0-4">
								More
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url(image/2.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Welcome to
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							MultiCinema
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
							<a href="main.html?page=movie/moviedetail.html&seq=2" class="btn1 flex-c-m size1 txt3 trans-0-4">
								More
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url(image/7.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Welcome to
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							MultiCinema
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
							<a href="main.html?page=movie/moviedetail.html&seq=7" class="btn1 flex-c-m size1 txt3 trans-0-4">
								More
							</a>
						</div>
					</div>
				</div>

			</div>

			<div class="wrap-slick1-dots"></div>
		</div>
	</section>

	<!-- Our menu -->
	<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
		<div class="container">
			<div class="title-section-ourmenu t-center m-b-22">
				<span class="tit2 t-center">
					Best
				</span>

				<h3 class="tit5 t-center m-t-2">
					Snackbar
				</h3>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-sm-6">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=오리지널콤보">
									<img src="image/snackbar/오리지널콤보.png" alt="IMG-MENU">
								</a>
							</div>
						</div>

						<div class="col-sm-6">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=스위트콤보">
									<img src="image/snackbar/스위트콤보.png" alt="IMG-MENU">
								</a>
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=더블콤보">
									<img src="image/snackbar/더블콤보.png" alt="IMG-MENU">
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="row">
						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=카라멜팝콘 L">
									<img src="image/snackbar/카라멜팝콘 L.png" alt="IMG-MENU">
								</a>
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=콜라 L">
									<img src="image/snackbar/콜라 L.png" alt="IMG-MENU">
								</a>
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<a href="main.html?page=snackbar/sbdetail.html&product=사이다 L">
									<img src="image/snackbar/사이다 L.png" alt="IMG-MENU">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

	<script src="js/main.js"></script>

</body>
</html>
