<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
#app{
	margin: auto;
	margin-top: 60px;
	width: 60%;
	border: 3px solid #8ac007;
	padding: 10px;
}
</style>

</head>
<body>



<div id="app" align="center">	
<h1>login</h1>
	<table border="1">
	<tr>
		<td>아이디</td>
		<td>
			<input type="text" id="id" placeholder="아이디입력" size="20">
		</td>
	</tr>
	<tr>
		<td>패스워드</td>
		<td>
			<input type="text" id="pw" placeholder="패스워드입력" size="20">
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<button type="button" id="login">login</button>		
			<button type="button" onclick="signup()">회원가입</button>
		</td>
	</tr>
	</table>	
</div>

<script type="text/javascript">
function signup() {
	location.href = "signup.html";
}

$("#login").click(function(){
	$.ajax({
		url:"http://localhost:3000/login",
		type:"post",
		data:{ id:$("#id").val(), pw:$("#pw").val() },
		success:function(resp){
			let id = $("#id").val();
			if(resp.length==0){
				alert("ID나 PW를 다시 확인해주세요");				
			}
			else{// login 성공!
				alert($("#id").val() + "님 환영합니다");
				sessionStorage.setItem("login", JSON.stringify(resp));
				location.href = "main.html?page=init.html";	
			}
		},
		error:function(){
			alert('error');
		}
	});
});


</script>



</body>
</html>



