<meta charset="UTF-8">
<div align="center">
<table border="1">
<tr>
	<td>이름</td>
	<td><input type="text" id="actor" size="35"></td>
</tr>
<tr>
	<td>나이</td>
	<td><input type="text" id="age" size="35"></td>
</tr>
<tr>
	<td>국가</td>
	<td><input type="text" id="country" size="35"></td>
</tr>
<tr>
	<td>수상내역</td>
	<td><textarea id="career" cols="37" rows="10"></textarea></td>
</tr>
</table>
<input type="button" value="등록" onclick="addActor()">

<script type="text/javascript">
function addActor(){
	$.ajax({
		url:"http://localhost:3000/actor",
		type:"post",
		data:{ actor:$("#actor").val(), age:$("#age").val(), country:$("#country").val(), career:$("#career").val()},
		success:function(resp){
		
			alert("배우등록이 완료되었습니다.");
		
		},
		error:function(){
			alert("배우등록이 실패하였습니다.");
		}
	});
}
</script>
</div>