<meta charset="UTF-8">
<script type="text/javascript">
$.datepicker.setDefaults({
	dateFormat: 'yyyy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    changeYear: true,
    changeMonth: true,
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년',
    onSelect: function (dateText, inst) {
		$('#date').val(dateText.substring(4,14)); 
	}
});
$(function() {
	$( "#msDatePicker" ).datepicker();
});
</script>
<div align="center">
<table><col width="150px;"><col width="950px;">
<tr class="table table-striped table-hover">
	<th>제목</th>
	<td><input type="text" id="title" size="35" class="form-control" placeholder="제목을 입력해주세요."></td>
</tr>
<tr class="table table-striped table-hover" style="background:#EDECEB;">
	<th>상영관</th>
	<td>
	<select id="theater">
		<option value="1" selected>1관</option>
		<option value="2">2관</option>
		<option value="3">3관</option>
		<option value="4">4관</option>
		<option value="5">5관</option>
		<option value="6">6관</option>
	</select>
	</td>
</tr>
<tr>
	<th>상영날짜</th>
	<td>
	<div id="msDatePicker"></div>
	<input type="hidden" id="date" value="" class="form-control">
	</td>
</tr>
<tr class="table table-striped table-hover" style="background:#EDECEB;">
	<th>상영시간</th>
	<td>
	<select id="sh"></select>:<select id="sm"></select>
	</td>
</tr>
<tr class="table table-striped table-hover">
	<th>종료시간</th>
	<td>
	<select id="eh"></select>:<select id="em"></select>
	</td>
</tr>
<tr class="table table-striped table-hover" style="background:#EDECEB;">
	<th>가격</th>
	<td>
	<span style="text-decoration: none; font-weight: bold; font-size:18px;"><input type="hidden" value="11000" id="price" class="form-control">
	11000원</span>
	</td>
</tr>
</table>
<br>
<input class="form-control" type="button" value="등록" onclick="check()" style="background-color: #585858; color: white; font-weight: 600; border-radius: 2px; padding: 5px; width: 72px; height: 42px;">

<script type="text/javascript">
for(var i=0;i<=23;i++){
	var option;
	if(i<10){
		option="<option value='0"+i+"'>0"+i+"</option>";
	}
	else{
		option="<option value='"+i+"'>"+i+"</option>";
	}
	$("#sh").append(option);
	$("#eh").append(option);
}
for(var i=0;i<60;i++){
	var option;
	if(i<10){
		option="<option value='0"+i+"'>0"+i+"</option>";
	}
	else{
		option="<option value='"+i+"'>"+i+"</option>";
	}
	$("#sm").append(option);
	$("#em").append(option);
}
function addMS(){
	alert($("#date").val()+" "+$("#sh").val()+ ":" + $("#sm").val());
	$.ajax({
		url:"http://3.138.157.37:3000/ms",
		type:"post",
		data:{ msnum:0, title:$("#title").val(), theater:$("#theater").val(), sdate:$("#date").val()+" "+$("#sh").val()+ ":" + $("#sm").val(), edate:$("#date").val()+" "+$("#eh").val()+ ":" + $("#em").val(),price:$("#price").val()},
		success:function(resp){
			alert("상영정보등록이 완료되었습니다.");
			$('#title').val("");
			$('#date').val("");
		},
		error:function(){
			alert("상영정보등록이 실패하였습니다.");
		}
	});
}
function check(){
	if($('#title').val().trim().length==0){
		alert("제목을 입력해주세요.");
		$('#title').focus();
	}else if($('#date').val().trim().length==0){
		alert("상영날짜를 선택해주세요.");
		$('#date').focus();
	}else{
		addMS();
	}
}
</script>
</div>