<meta charset="UTF-8">
<script>
$.datepicker.setDefaults({
	dateFormat: 'yyyy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    changeYear: true,
    changeMonth: true,
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년',
    onSelect: function (dateText, inst) {
		$('#odate').val(dateText.substring(4,14)); 
	}
});
$(function() {
	$( "#DatePicker" ).datepicker();
});
</script>
<div align="center">
<table><col width="150px;"><col width="950px;">
<tr class="table table-striped table-hover">
	<th>제목</th>
	<td><input type="text" id="title" size="35" class="form-control" placeholder="제목을 입력해주세요."></td>
</tr>
<tr class="table table-striped table-hover" style="background:#EDECEB;">
	<th>장르</th>
	<td><input type="text" id="genre" size="35" class="form-control" placeholder="장르를 입력해주세요."></td>
</tr>
<tr class="table table-striped table-hover">
	<th>내용</th>
	<td><textarea id="contents" rows="3"cols="35" class="form-control" placeholder="&nbsp;&nbsp;내용을 입력해주세요."></textarea>
</tr>
<tr class="table table-striped table-hover" style="background:#EDECEB;">
	<th>감독</th>
	<td><input type="text" id="director" size="35" class="form-control" placeholder="감독을 입력해주세요."></td>
</tr>
<tr>
	<th>개봉날짜</th>
	<td align="center">
	<div id="DatePicker"></div> 
	<input type="hidden" id="odate" value="" class="form-control">
	</td>
</tr>
</table>
<br>
<input class="form-control" type="button" value="등록" onclick="check()" style="background-color: #585858; color: white; font-weight: 600; border-radius: 2px; padding: 5px; width: 72px; height: 42px;">
<script type="text/javascript">
function addMovie(){
	$.ajax({
		url:"http://3.138.157.37:3000/movie",
		type:"post",
		data:{ title:$("#title").val(), seq:0, genre:$("#genre").val(), content:$("#contents").val(), director:$("#director").val(), odate:$("#odate").val(), score:0},
		success:function(resp){
			alert("영화등록이 완료되었습니다.");
			$('#title').val("");
			$('#genre').val("");
			$('#contents').val("");
			$('#director').val("");
			$('#odate').val("");
		},
		error:function(){
			alert("영화등록이 실패하였습니다.");
		}
	});
}
function check(){
	if($('#title').val().trim().length==0){
		alert("제목을 입력해주세요.");
		$('#title').focus();
	}else if($('#genre').val().trim().length==0){
		alert("장르를 입력해주세요.");
		$('#genre').focus();
	}else if($('#contents').val().trim().length==0){
		alert("내용을 입력해주세요.");
		$('#contents').focus();
	}else if($('#director').val().trim().length==0){
		alert("감독을 입력해주세요.");
		$('#director').focus();
	}else if($('#odate').val().trim().length==0){
		alert("개봉날짜를 선택해주세요.");
		$('#odate').focus();
	}else{
		addMovie();
	}
}
</script>
</div>